# Gradle
.gradle/
build/
app/build/

# IDE
.idea/
*.iml
.vscode/
*.swp
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Hytale
*.jar
!gradle/wrapper/gradle-wrapper.jar
.hytale-downloader-credentials.json

# Setup
.bin/
server/
src-ref/
Assets.zip
auth.enc
config.json
config.json.bak
universe/
mods/
logs/
plugins/
whitelist.json
permissions.json
bans.json